/* 1. Foundation */
@import url('assets/styles/preset.css');

/* 2. Layout */
@import url('assets/styles/header.css');

/* 3. Pages */
@import url('assets/styles/hero.css');
@import url('assets/styles/about.css');
@import url('assets/styles/projects.css');
@import url('assets/styles/testimonials.css');
@import url('assets/styles/tools.css');
@import url('assets/styles/contacts.css');

/* 4. Components */
@import url('assets/styles/review.css');
@import url('assets/styles/review-cards.css');
@import url('assets/styles/modal.css');
