@import url('assets/styles/preset.css');
@import url('assets/styles/about.css');
@import url('assets/styles/contacts.css');
@import url('assets/styles/header.css');
@import url('assets/styles/hero.css');
@import url('assets/styles/projects.css');
@import url('assets/styles/testimonials.css');
@import url('assets/styles/tools.css');
@import url('assets/styles/review.css');
@import url('assets/styles/review-output.css');
